<!DOCTYPE html>
<html>
	<head>
		<title>Simple Web App</title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css">
		<link rel="stylesheet" type="text/css" href="/app.css">
		
	</head>
	<body>