<% include partials/header.ejs %>

<div class="ui container">
	<div class="ui segment">
		
		<div class="ui huge header">Basic Restful App</div>
		<div id="project-content">
			<p>This project about RESTful Services. There are some main technologies that I used.</p>
			<ul>
				<li><i class="node js icon"></i><a target="_blank" href="https://nodejs.org/en/">NodeJS</a></li>
				<li><a target="_blank" href="https://expressjs.com/">ExpressJs</a></li>
				<li><i class="database icon"></i><a target="_blank" href="https://www.mongodb.com/">MongoDB</a></li>
				<li><a target="_blank" href="http://www.embeddedjs.com/">Embedded Javascript(ejs)</a></li>
			</ul>
			<p>Semantic UI was used in the style section.</p>
			<p>Background gradient style from <a target="_blank" href="http://angrytools.com/gradient/">angryTools</a></p>
		</div>
		</br>
		<a class="ui button" href="/users">See Users</a>
	</div>
</div>

<% include partials/footer.ejs %>