body{
	background: -moz-linear-gradient(45deg, rgba(158,247,255,1) 0%, rgba(88,4,128,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(158,247,255,1)), color-stop(100%, rgba(88,4,128,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, rgba(158,247,255,1) 0%, rgba(88,4,128,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, rgba(158,247,255,1) 0%, rgba(88,4,128,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(158,247,255,1) 0%, rgba(88,4,128,1) 100%); /* ie10+ */
    background: linear-gradient(45deg, rgba(158,247,255,1) 0%, rgba(88,4,128,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#580480', endColorstr='#9EF7FF',GradientType=1 ); /* ie6-9 */ 
}

.ui form{
	display: inline;
}

.ui .segment:first-child{
	margin-top: 2em;
	background-color: rgba(0, 0, 0, 0.1);
}

.ui .form .field label{
	color: white;
}

.ui .header{
	color: white;
}

#project-content{
	color: white;
}

#project-content a{
	color: rgb(0, 255, 0);
}

#project-content a:hover{
	text-decoration: underline;
}